@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montaga&display=swap');
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  background-color: #011936;
  color: #f0fff1;
  font-family: 'Montaga', serif;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.search-text{
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-input{
  width: 400px;
  height: 70px;
  border: none;
  background-color: #dc0073;
  outline: none;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: #011936;
  font-size: 20px;
}
.form-input::placeholder{
  color: #98afcc;
  font-size: 20px;
}
.coin-row-title {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  width: 1100px;
  border-bottom: 1px solid #d7d7d7;
}
.refresh-button > button{
  margin: 10px 0px 20px 0px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #dbf20a;
  color: #011936;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 400ms linear ease-in;
}
.refresh-button > button:hover{
  transform: scale(1.1);
}